
<div class="row">
    <h1>Cash America Layouts</h1>
    <div class="twelve columns">
        <div class="vertical-list">
            <h2 class="vertical-list__heading h2"> Two Column Content Template </h2>
            <ul>
                <li class="vertical-list__item">Article Template</li>
                <li class="vertical-list__item">Service Template</li>
                <li class="vertical-list__item">Local Pages Template</li>
            </ul>
        </div>
    </div>
 </div>

<div class="row">
    <div class="twelve columns">
        <div class="vertical-list">
            <h2 class="vertical-list__heading h2"> One Column Content Template </h2>
            <ul>
                <li class="vertical-list__item"> <%= link_to "Store Search Page", casham_store_search_page_path, data: { no_turbolink: true }  %> </li>
                <li class="vertical-list__item">Home Page</li>
            </ul>
        </div>
    </div>
</div> 
