
<div class="row">
    <div class="test-list">
        <h1 class="test-list__heading h1">Cash America Layouts</h1>

        <h2 class="test-list__heading h2"> <%= link_to 'Two Column Content Template', casham_template_tcc_path, data: { no_turbolink: true }  %> </h2>
        <ul>
            <li>Article Template</li>
            <li>Service Template</li>
            <li>Local Pages Template</li>
        </ul>
    </div>
    
    <div class="test-list">
        <h2 class="test-list__heading h3"> <%= link_to 'One Column Content Template', casham_template_occ_path, data: { no_turbolink: true }  %>  </h2>
        <ul>
            <li> <%= link_to "Store Search Page", casham_store_search_page_path %> </li>
            <li>Home Page</li>
        </ul>
    </div>
</div> 
