<%= provide(:title, "Style Guide") %>

<div class="colored-block">
    <div class="header-shade">
        <div class="header">
            <div class="header__nav contain-to-grid">
                <nav class="top-bar" data-options="is_hover:false">
                    <ul>
                        <li class="name brand-logo"><h1><a href="#">CashAmerica</a></h1></li>
                        <li class="toggle-topbar"><a href="#"></a></li>
                    </ul>
                    <section>
                        <ul class="left">
                            <li class="has-dropdown">
                                <a href="#">Services</a>
                                <ul class="dropdown">
                                    <li>
                                        <a href="#">Pawn Loans</a>
                                    </li>
                                    <li>
                                        <a href="#">Auto Title Loans</a>
                                    </li>
                                    <li>
                                        <a href="#">Cash Advances</a>
                                    </li>
                                    <li>
                                        <a href="#">All Services</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="#">Online Catalog</a>
                            </li>


                            <li>
                                <a href="#">Store Locator</a>
                            </li>
                        </ul>

                        <ul class="right header__your-store">
                            <li class="has-dropdown">
                                
                                <div class="your-store">
                                    <div class="your-store__store-address">
                                        
                                        <address class="store-address">
                                            <span class="your-store__label">Your Store</span>
                                            <div>
                                                <span class="org">Cash America Pawn - 12345 </span>
                                            </div>
                                            <div>
                                                <span class="street-address">12345 Chestertonfieldville Ave # 1234567 </span>
                                            </div>
                                            <div>
                                                <span class="locality">Chestertonfieldvilledale, EE 6543 </span>
                                            </div>
                                        </address>
                                    </div>
                                </div>


                                <ul class="dropdown store-address-list">
                                    <li>
                                        <address class="store-address">
                                            <div>
                                                <span class="org">Cash America Pawn - 12345 </span>
                                            </div>
                                            <div>
                                                <span class="street-address">12345 Chestertonfieldville Ave # 123 </span>
                                            </div>
                                            <div>
                                                <span class="locality">Chestertonfieldvilledale, EE 6543 </span>
                                            </div>
                                            <div>
                                                <span class="locality">Phone </span><span>123-123-1234</span>
                                            </div>
                                            <div>
                                                <span class="locality"><a href="#">Make this my store</a> </span>
                                            </div>
                                            <div>
                                                <span class="locality"><a href="#">Show on map</a> </span>
                                            </div>
                                        </address>
                                    </li>

                                    <li>
                                        <address class="store-address">
                                            <div>
                                                <span class="org">Cash America Pawn - 12345 </span>
                                            </div>
                                            <div>
                                                <span class="street-address">12345 12 1st St </span>
                                            </div>
                                            <div>
                                                <span class="locality">Azle, EE 6543 </span>
                                            </div>
                                            <div>
                                                <span class="locality">Phone </span><span>123-123-1234</span>
                                            </div>
                                            <div>
                                                <span class="locality"><a href="#">Make this my store</a> </span>
                                            </div>
                                            <div>
                                                <span class="locality"><a href="#">Show on map</a> </span>
                                            </div>
                                        </address>
                                    </li>

                                    <li>
                                        <address class="store-address">
                                            <div>
                                                <span class="org">Cash America Pawn - 12345 </span>
                                            </div>
                                            <div>
                                                <span class="street-address">12345 Chestertonfieldville Ave # 123 </span>
                                            </div>
                                            <div>
                                                <span class="locality">Chestertonfieldvilledale, EE 6543 </span>
                                            </div>
                                            <div>
                                                <span class="locality">Phone </span><span>123-123-1234</span>
                                            </div>
                                            <div>
                                                <span class="locality"><a href="#">Make this my store</a> </span>
                                            </div>
                                            <div>
                                                <span class="locality"><a href="#">Show on map</a> </span>
                                            </div>
                                        </address>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </section>
                </nav>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="twelve columns">
        <h1>Heading h1</h1>
        <h2>Heading h2</h2>
        <h3>Heading h3</h3>
        <h4>Heading h4</h4>
        <h5>Heading h5</h5>
        <h6>Heading h6</h6>
        <p>Paragraph loremLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

    </div>

