<footer id="footer" class="footer">
	<section class="row">
		<div class="four columns">
			<ul class="link-list">
				<h2>Get Informed</h2>

				<li>
					<a href="#">Link 1</a></li>
				<li>
					<a href="#">Link 2</a></li>
				
				<li>
					<a href="#">Link 3</a></li>
				
				<li>
					<a href="#">Link 4</a></li>
			</ul>
		</div>

		<div class="four columns">
			<ul class="link-list">
				<h2>Cash America Inc.</h2>

				<li>
					<a href="#">Link 1</a>
				</li>
				
				<li>
					<a href="#">Link 2</a>
				</li>
				
				<li>
					<a href="#">Link 3</a>
				</li>
				
				<li>
					<a href="#">Link 4</a>
				</li>

				<li>
					<a href="#">Link 5</a>
				</li>
			</ul>
		</div>


		<div class="four columns">
			<div class="row social-links">
				<ul class="link-list--horizontal">
					<li>
						<a href="#">
							<span aria-hidden="true" data-icon="&#xe004;" class="icon icon-facebook"></span>
						</a>
					</li>
					
					<li>
						<a href="#">
							<span aria-hidden="true" data-icon="&#xe001;" class="icon icon-twitter"></span>
						</a>
					</li>
					
					<li>
						<a href="#">
							<span aria-hidden="true" data-icon="&#xe003;" class="icon icon-google-plus"></span>
						</a>
					</li>
					
					<li>
						<a href="#">
							<span aria-hidden="true" data-icon="&#xe000;" class="icon icon-youtube"></span>
						</a>
					</li>
				</ul>
			</div>

			<div class="row">
				<div class="email-signup">
					
					<h2>Sign up for email alerts!</h2>

					<div class="row collapse">
						<div class="eight mobile-three columns">
							<input type="text" placeholder="Email Address"/>
						</div>
						
						<div class="four mobile-one columns">
							<a class="button expand radius postfix">Sign Up</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="brand-list-container">
		<div class="row">
			<div class="twelve columns">
				<ul class="link-list--horizontal brand-list">
					<h3>Our Brands</h3>
					<li>
						<a href="#">Cash America</a></li>
					
					<li>
						<a href="#">Superpawn</a></li>
					
					<li>
						<a href="#">Cashland</a></li>
					
					<li>
						<a href="#">Payday Advance</a></li>
					
					<li>
						<a href="#">Mr. Payroll</a></li>
					
					<li>
						<a href="#">National Jewelry Liquidation Center</a></li>
					
					<li>
						<a href="#">Cash Mexico</a></li>
					
					<li>
						<a href="#">Pounds for Pockets</a></li>
					
					<li>
						<a href="#">Quick Quid</a></li>
					
					<li>
						<a href="#">Placeholder 1</a></li>
					
					<li>
						<a href="#">Placeholder 2</a></li>
					
					<li>
						<a href="#">Placeholder 3</a></li>
				</ul>
			</div>
		</div>
	</section>  


	<div class="compliance">
		<div class="row">
			<ul class="link-list--delimited">
				<li>
					<a href="#">Link 1</a></li>
				
				<li>
					<a href="#">Link 2</a></li>
				
				<li>
					<a href="#">Link 3</a></li>
				
				<li>
					<a href="#">Link 4</a></li>
			</ul>
		</div>
	</div>
</footer>