<section class="module--store-locator">
	<div class="twelve columns">
		<h1 class="module-heading">
			<span aria-hidden="true" data-icon="&#xe02f;" class="icon icon-location-17-icon"></span><span class="module-heading__text">Find a Store Near You</span>
		</h1>

		<div class="row">
			<div class="twelve columns">
				<div class="module-body row collapse">
					<div class="ten mobile-three columns">
						<input type="text" placeholder="Zip or City and State"/>
					</div>
					<div class="two mobile-one columns">
						<a class="button expand postfix">Go</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> <!-- end widget -->