<section class="module--service-spotlight">
  <div class="twelve columns">
    <h3 class="module-heading">
      We Also Provide These Great Services
    </h3>

    <ul class="module-body block-grid four-up mobile-two-up">
      <li>      
        <div class="service-item">
            <a href="#">
              <%= image_tag "retail-services.png", class: "service-spotlight-image" %>
              <%#= image_tag 'http://placehold.it/550x550', class: "article-image" %>
              <div class="caption"><a href="#">Pawn Loans</div>
            </a>
          </div>
      </li>
      
      <li>
        <div class="service-item">
          <a href="#">
            <%= image_tag "auto-equity.png",class: "service-spotlight-image" %>
            <div class="caption">Auto Equity Loans</div>
          </a>
        </div>
      </li>
      
      <li>
        <div class="service-item">
          <a href="#">
            <%= image_tag "cash-advances.png",class: "service-spotlight-image" %>
            <div class="caption"><a href="#">Cash Advances</a></div>
          </a>
        </div>
      </li>
      
      <li>
        <div class="service-item">
          <a href="#">
            <%= image_tag "retail-services.png",class: "service-spotlight-image" %>
            <div class="caption"><a href="#">Retail Services</a></div>
          </a>
        </div>
      </li>
    </ul>
    <div class="module-footer">
      <p class="caption"><a href="#">View all of our services</a></p>
    </div>
  </div>
</section>