<% provide(:title, @user.name) %>

<div class="container">
	<h1>Congratulations, you are not nil.</h1>
	<section>
		<h1>
			<%= @user.name %>
		</h1>
		<h2>
			<%= @user.email %>
		</h2>
	</section>
</div>