@import "_module_resources";

// ========================
// article module
// ========================


.module--article{
    @extend %module;

    .article-image{
        padding: $columnGutter/2;
        max-width: 41.667%;
        float: right;
    }
}