/*  THESE SHOULD BE PLACED IN COMMON MODULE */

/* 
	link lists are by default vertical 
	modifiers are used for horizontal link lists
*/

.link-list{
	@include no-bullets;

	>li > a:hover{
		color: $caPrimaryColor;
	}
}

.link-list--horizontal{
	@extend .link-list;
	@include inline-list;
}

.link-list--delimited{
	@extend .link-list--horizontal;
	@include delimited-list("|");
}


.footer{
	//@include button-structure;

	padding-top:  2em;
	position: relative;  

	.button{
		font-size: 13px;
		//padding: $btnBase ($btnBase + 2) ($btnBase + 2); 
	}

	h2, h3{
		font-size: 1em;
	}

	.icon{
		font-size: 36px;
	}

	.brand-list-container{
		padding-top: 1em;
		padding-bottom: 1em;
		text-align: center;
	}

	.brand-list{
		li{
			padding-right: 1.4em;
		}
	}

	.compliance{
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;

		@include respondTo(smallScreen){
			position: relative;
		}
	}

	.social-links{
		padding-top: 1em;
		padding-bottom: 1em;
	}

	.email-signup{      
		.panel{
			@include border-radius(5px);
			padding: 1em;
			border: none; 

			label{
				padding-bottom: 1em;
			}
		}
	}
}