<% title = "Article Title" if local_assigns[:title].nil? %>

<% article_text = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta commodi cumque corporis sapiente assumenda facere veritatis qui error dolorum quia deserunt beatae similique incidunt ea modi fuga quae quas sit!" if local_assigns[:article_text].nil? %>

<div class="article">
    <h2 class="module-title"><%= title %></h2>
    
    <div class="row article-detail">
        <div class="col-md-12">

            <div class="aricle-image pull-right">
                <img class="img-responsive thumbnail" src="http://placehold.it/200x160" alt="...">
            </div>

            <%= article_text %>

        </div>
    </div>
</div>
