<div class="row disclaimer">
    <div class="col-sm-12 panel small">
        <p>
            DISCLAIMERS:
            * Actual loan terms (including maximum loan amount) vary based on state of residence and amount of vehicle equity. Not all applicants will qualify. Lender requires certain supporting documentation with each application. Lender will base actual loan amount on the equity of the vehicle as stated by most recent copy of the Kelley Blue Book and the lender's underwriting criteria, which could include credit report, credit score, outstanding debt and ability to repay the loan. Kelley Blue Book is a registered trademark of Kelley Blue Book Co. Our Fee Schedule shows fees, loan amounts and other disclosures depending on your state. 
        </p>
    </div>
</div>