<div class="financial-tools ca-module">
    <div class="row">
        <div class="col-sm-12">
            <h3>
                Financial Tools
            </h3>
        </div>
        <div class="col-sm-3 financial-tools-icon">
            <%= image_tag "budget.png" %>
        </div>
        <div class="col-sm-9">
            <p>
                Take Control of your Finances with our Budget Worksheet
            </p><a class="pull-right" href="#">Create A Budget</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 financial-tools-icon">
            <%= image_tag "financial-education.png" %>
            
        </div>
        <div class="col-sm-9">
            <p>
                Take Control of your Finances with our Budget Worksheet
            </p><a class="pull-right" href="#">Start Learning</a>
        </div>
    </div>
</div>
