<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-xs-6">
                        <h2 class="h3">Get Informed</h2>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Frequently Asked Questions</a>
                            </li>

                            <li>
                                <a href="#">Customer Testimonials</a>
                            </li>
                            
                            <li>
                                <a href="#">Financial Education</a>
                            </li>
                            
                            <li>
                                <a href="#">Consumer Notices</a>
                            </li>

                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xs-6">
                        <h2 class="h3">Cash America International</h2>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">About Us</a>
                            </li>

                            <li>
                                <a href="#">Careers</a>
                            </li>
                            
                            <li>
                                <a href="#">Press Room</a>
                            </li>
                            
                            <li>
                                <a href="#">Investors</a>
                            </li>
                        </ul>
                    </div> 
                </div>
            </div> <!-- end group 1 -->

            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-12">

                        <ul class="list-inline social-media-list">
                            <li>
                                <a href="#">Social 1</a>
                            </li>

                            <li>
                                <a href="#">Social 2</a>
                            </li>
                            
                            <li>
                                <a href="#">Social 3</a>
                            </li>
                            
                            <li>
                                <a href="#">Social 4</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-inline">
                            <div class="form-group email-signup">
                                <h3>Sign up for Email Alerts</h3>
                                <label for="email-signup-label" class="sr-only">Sign up for Email Alerts</label>

                                <input id="email-signup-input" type="email" class="form-control input-sm email-signup-input" placeholder="Email Address"/>

                                <button type="submit" class="btn btn-ca btn-sm">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end group 2 -->
        </div> <!-- end top row -->
    </div> <!-- end container -->

    <section class="footer-brands-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3 class="small">Our Brands</h3>
                    <ul class="list-inline small">
                        <li>
                            <a href="#">Cash America</a></li>
                        
                        <li>
                            <a href="#">Superpawn</a></li>
                        
                        <li>
                            <a href="#">Cashland</a></li>
                        
                        <li>
                            <a href="#">Payday Advance</a></li>
                        
                        <li>
                            <a href="#">Mr. Payroll</a></li>
                        
                        <li>
                            <a href="#">National Jewelry Liquidation Center</a></li>
                        
                        <li>
                            <a href="#">Cash Mexico</a></li>
                        
                        <li>
                            <a href="#">Pounds for Pockets</a></li>
                        
                        <li>
                            <a href="#">Quick Quid</a></li>
                        
                        <li>
                            <a href="#">Placeholder 1</a></li>
                        
                        <li>
                            <a href="#">Placeholder 2</a></li>
                        
                        <li>
                            <a href="#">Placeholder 3</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <div class="footer-compliance-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <ul class="compliance-list list-inline small">
                        <li>
                            <a href="#">Site Map</a>
                        </li>
                        
                        <li>
                            <a href="#">Terms and Conditions</a>
                        </li>
                        
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                    
                        <li>
                            <a href="#">Text Message Disclosure</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</footer>
