<footer class="footer">
    <div class="container">
        <div class="row">
            
            <div class="col-sm-4">
                <h2>footer</h2>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Link 1</a>
                    </li>

                    <li>
                        <a href="#">Link 2</a>
                    </li>
                    
                    <li>
                        <a href="#">Link 3</a>
                    </li>
                    
                    <li>
                        <a href="#">Link 4</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-4">
                <h2>footer</h2>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Link 1</a>
                    </li>

                    <li>
                        <a href="#">Link 2</a>
                    </li>
                    
                    <li>
                        <a href="#">Link 3</a>
                    </li>
                    
                    <li>
                        <a href="#">Link 4</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-4">
                <h2>footer</h2>
                <ul class="list-inline">
                    <li>
                        <a href="#">Social 1</a>
                    </li>

                    <li>
                        <a href="#">Social 2</a>
                    </li>
                    
                    <li>
                        <a href="#">Social 3</a>
                    </li>
                    
                    <li>
                        <a href="#">Social 4</a>
                    </li>
                </ul>

                <div class="row">
                    <div class="col-sm-12">

                        <div class="form-inline">
                            <div class="form-group email-signup">
                                <label for="email-signup-label" class="h2">Sign up for Email Alerts</label>

                                <input id="email-signup-input" type="email" class="form-control input-sm email-signup-input" placeholder="Email Address"/>

                                <button type="submit" class="btn btn-default btn-sm">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
