<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 logo-container">
                <%#=image_tag "ca_logo_150x31.png", width: 120 %>
            </div>
            <div class="col-sm-6 logo-container">
                <%#=image_tag "ca_logo_150x31.png", width: 120 %>
            </div>
            <div class="col-sm-4 logo-container">
                <%#=image_tag "ca_logo_150x31.png", width: 120 %>
            </div>
        </div>
    </div>
</header>