<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 logo-container">
                <%=image_tag "ca_logo_150x31.png", width: 120 %>
            </div>
            <div class="col-sm-4 logo-container">
                <a href="#">Your Store</a>
                <a href="#">Site Search</a>
            </div>
        </div>
                    <div class="row">
                <ul class="nav nav-justified">
                    <li class="active">
                        <%= link_to "Pawn Loans", caredes_pawn_loans_path %>
                    </li>

                    <li>
                        <%= link_to "Auto Title Loans", caredes_auto_loans_path %>
                    </li>

                     <li>
                        <%= link_to "Cash Advances", caredes_cash_advances_path %>
                    </li>

                     <li>
                       <a href="#"> Retail Services</a>
                    </li>

                     <li>
                        <a href="#">Find a Store</a>
                    </li>
                </ul>
            </div>
    </div>
</header>