<!-- begin promos  -->

<div class="row ca-module promos">        
    <div class="promos-image-wrapper col-sm-4">
      <%= image_tag "http://lorempixel.com/output/people-q-c-300-200-2.jpg", class: "img-cover hidden-xs" %>
    </div>        

    <div class="col-sm-8 sidebar-12 ">
      <h3>Check Out Our Ebay Store</h3>
      <p>Promo Text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, fuga, error commodi nostrum qui perspiciatis voluptate quidem sit iste minima veritatis ducimus. Accusantium, illum, fugit velit nam ab ad saepe.</p>

      <%= link_to "Call To Action", "http://stores.ebay.com/cashamericainternetsales", class: "btn btn-primary" %>
      
      <%= link_to "Call To Action", "http://stores.ebay.com/cashamericainternetsales", class: "sidebar-link" %>
    </div>
</div>

<!-- end promos  -->