

 <div class="row service-spotlight">
    <div class="col-sm-12">
        <h2>We Also Offer These Great Services</h2>
    </div>
    <div class="col-xs-6 col-lg-3">
        <div class=""> <i class="fa fa-lightbulb-o"></i>
            <h3 class="title">Pawn Loans</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
        </div>
    </div>
    <div class="col-xs-6 col-lg-3">
        <div class=""> <i class="fa fa-cogs"></i>
            <h3 class="title">Auto Title Loans</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
        </div>
    </div>
    <div class="col-xs-6 col-lg-3">
        <div class=""> <i class="fa fa-code"></i>
            <h3 class="title">Cash Advances</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
        </div>
    </div>
    <div class="col-xs-6 col-lg-3">
        <div class=""> <i class="fa fa-plane"></i>
            <h3 class="title">Retail Services</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
        </div>
    </div>
</div>