
<div class="module store-locator">
    <div class="form-inline">
        <div class="form-group store-locator-form">
            <h1>Find a Store Near You</h1>
            <label for="store-locator-input" class="sr-only">Find a Store Near You</label>

            <input id="store-locator-input" type="text" class="form-control input-sm sidebar-input" placeholder="City and State or Zip"/>

            <button type="submit" class="btn btn-ca btn-sm">Go</button>
        </div>
    </div>
</div>


<hr>

