/*
.store-image img {
    width: 360px;
}
.store-image {
    margin: 14px 0 25px;
}
.store-side-bar ul, .store-services-side-bar ul{
    margin:0px;
    padding:0px;
}
.store-side-bar li, .store-services-side-bar li{
    list-style:none;
}
.store-title { color: #333;
    font-weight: bold;
}
.store-hours {
    float: left;
    margin: 0 0 0 25px !important;
}

.spacer-15{
    height:15px;    
}

.spacer-35{
    height:35px;    
}

.store-services-side-bar {
    margin-bottom: $line-height-computed;
}
.store-services-side-bar h3 {
    margin-top: 0;
}
*/


.map-container{
    position: relative;
    height: 500px;
    width: 500px;
}

.map {
    border: 17px solid #FFFFFF;
    margin: 0 0 0 16px;
    width: 95.9%;
}
#my-store a { 
  padding-left: 27px; 
  background: url(../images/my-store-icon.png) 3px 1px no-repeat; 
} 
#directions a { 
  padding-left: 27px; 
  background: url(../images/directions-icon.png) 3px 1px no-repeat; 
} 
#store-website a { 
  padding-left: 27px; 
  background: url(../images/store-website-icon.png) 3px 1px no-repeat; 
} 
.my-stores {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #D6D6D6;
    margin:  0 0 0 3px;
    padding: ($standard-interval * 2) 0 10px;
}
.my-stores.selected{
    background:#f1f6fa;
}
.form-control.no-header{
    margin:0 0 ($standard-interval * 2) 0;
}
.or-divider{
    border-bottom: 1px solid #252525;    
}
.or-divider-wrapper {
    background: none repeat scroll 0 0 #EFEFEF;
    border-radius: 5px;
    margin: $line-height-computed 0 $standard-interval * 2;
    padding: 3px 10px;
}
.search-criteria-wrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    @include border-radius($border-radius-base);
    border: 1px solid #ededed;
    padding: $line-height-computed $line-height-computed;
    margin-bottom: $line-height-computed;
}
.radio, .checkbox {
    font-size: 14px;
    font-weight: lighter;
}
.search-criteria-left{
    border-right: 1px solid #e4e4e4;
    padding-right: 30px;
}
.search-criteria-right{
    padding-left:30px;
}
.search-results-left{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
    padding: $standard-interval * 2 $line-height-computed;
}
.search-results-left .my-stores {
    padding: ($standard-interval * 2) 0 $line-height-computed 18px;
}
.search-results-wrapper {
    margin: $line-height-computed 0 0 $standard-interval * 2;
}
.search-criteria-wrapper h4, .search-criteria-wrapper h5{
    color:#000; 
}
.my-stores.last {
    border: none;
}
.btn-pink {
    background: none repeat scroll 0 0 #D0103A;
    color: #FFFFFF !important;
    margin: 0 0 0 -19px;
    padding: 4px 9px;
}
.btn-pink:hover{
    background:#cc4c68;
    text-decoration:none !important;
}
.sub-nav  {
    margin: 20px 0 0 0;
}
.sub-nav a {
    color:#000;
}
.sub-nav li {
    margin: 12px 1px;
    padding: 4px 0;
}
.sub-nav .selected, .sub-nav a, .sub-nav a:hover {
    margin: 10px 24px 0 0;
    padding: 10px 58% 10px 14px;
}
.sub-nav .selected {
    background: none repeat scroll 0 0 #E5EEF6;
    color: #D0103A;
}
.sub-nav a {
    background: none repeat scroll 0 0 #fff;
    color: #000;
}
.sub-nav a:hover {
    background: none repeat scroll 0 0 #E5EEF6;
    color: #D0103A;
    text-decoration:none;
}
.find-a-store {
    margin: 10px 10px 6px 0;
}
.financial-tools .col-sm-9 {
    padding-left:0px;
}
.financial-tools{
margin:15px 0 0 0;  
}
.financial-tools a{
 color: #D0103A;
}
.financial-tools .row{
    margin:0 0 15px 0;
}
.public-relations{
margin:15px 0 0 0;      
}
.public-relations h4 {
    color: #333333;
    margin: 0 0 10px;
}
.public-relations .col-sm-9 {
    padding-left:0px;
}
.public-relations .row{
    margin:0 0 5px 0;
}
.store-image-right {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    margin-left: 15px;
    padding: 4px;
    width: 177px;
}
.store-image-left {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    margin-left: 15px;
    margin-right: 27px;
    padding: 4px;
    width: 177px;
}
.service-right-tabs-wrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-left: 15px;
    padding: 20px 0 20px 20px;
}
.service-right-tab {
    background: none repeat scroll 0 0 #EEEEEE;
    border-top: 5px solid #999999;
    float: left;
    margin: 0 10px 18px 0;
    min-height: 139px;
    padding: 20px;
    text-align: center;
    width: 31.3%;
}
.service-right-tab.selected {
    background: none repeat scroll 0 0 #fff;
    border-top: 5px solid #005daa;
}
.service-right-tab.selected span {
   background: none repeat scroll 0 0 #005daa;
}
.service-right-tab span {
    background: none repeat scroll 0 0 #999999;
    border-radius: 50%;
    color: #FFFFFF;
    padding: 8px 13px;
}
.service-right-tab h3 { color: #333;
    font-size: 15px;
    font-weight: lighter;
}
.service-right-tabs-wrapper a:hover{
    
}
.services-bottom-nav-wrapper .service-tab {
    text-align:center;
}
.services-bottom-nav-wrapper h4 {
    color: #000;
    font-weight: lighter;
}
.services-bottom-nav-wrapper h3 {
   margin-bottom:15px;
}
.tac{
text-align:center;  
}