.financial-tools-icon{

    img{
        max-height: 63px;
        max-width: 63px;
    }

    @media (min-width: $screen-md-min) and (max-width: $screen-md-max){
        padding-left: 0;
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
        padding-left: 0;

        img{
            max-height: 42px;
            max-width: 42px;
        }
    }

}

.financial-tools .col-sm-9 {
    padding-left:0px;
}
.financial-tools{
    //margin: 15px 0 0 0;  
}
.financial-tools a{
    color: #D0103A;
}
.financial-tools .row{
    margin:0 0 $line-height-computed 0;
}

.side-bar .financial-tools{
    p{
        margin-bottom: $standard-interval;
    }
}