.financial-tools-icon{
    max-height: 36px;
    max-width: 36px;
}

.financial-tools .col-sm-9 {
    padding-left:0px;
}
.financial-tools{
 margin:15px 0 0 0;  
}
.financial-tools a{
 color: #D0103A;
}
.financial-tools .row{
    margin:0 0 $line-height-computed 0;
}

.side-bar .financial-tools{
    p{
        margin-bottom: 7px;
    }
}