@import "../resources/custom_settings";
@import "compass";
.footer{

    h1,h2,h3,h4,h5,h6{
        font-size: $font-size-base;
    }
    .email-signup{
        width: 100%;
    }

    .email-signup-input{
        width: 70%;
    }

    .footer-brands-section{
        background-color: #666;
    }

    .compliance-list{
        @include delimited-list("|");
    }

    .social-media-list{
        margin-top: $line-height-computed;
    }


    @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
        .email-signup{
            width: 50%;
            margin-bottom: $line-height-computed/2;
        }

        .email-signup-input{
            width: 100%;
            margin-bottom: $line-height-computed/2;
        }
    }

    @media (min-width: $screen-xs-min) and (max-width: $screen-sm-min) {
        .email-signup{
            width: 100%;
        }

        .email-signup-input{
            width: 50%;
            margin-bottom: $line-height-computed/2;
        }
    }

    @media (max-width: $screen-xs-min){
        .email-signup{
            width: 100%;
        }

        .email-signup-input{
            width: 100%;
            margin-bottom: $line-height-computed/2;
        }
    }

}

