/* ========================== */
/* header classes */
/* ========================== */
@import "compass";
@import "../resources/custom_settings";
@import "../resources/custom_mixins";

.header{
    background-color: rgba(255,255,255,0.2);
    color: $white;
    height: 85px;
    position: absolute;
    width: 100%;

    .logo-container{
        @include remove-padding-on(left);
    }

    .your-store-container{
        @include remove-padding-on(right);
    }

    @media (min-width: $screen-xs-min) and (max-width: $screen-sm-min) {
        background-color: $footer-bg-ca;
        height: auto;
        position: relative;
    }

    @media (max-width: $screen-xs-min){
        background-color: $footer-bg-ca;
        height: auto;
        position: relative;
    }
}