/* ========================== */
/* hero classes */
/* ========================== */


.page-hero-section{
    //background-image: asset-url("bgbgbg.jpg");
    background-position: 0 -161px;
    background-size: cover;
    padding-top: 168px;
    margin-bottom: $line-height-computed * 2;

    h1{
        font-weight: 500;
    }
}

