/* ========================== */
/* hero classes */
/* ========================== */


.page-hero-section{
    background-image: asset-url("hero3.png");
    background-size: cover;
    padding-top: 168px;
    margin-bottom: $line-height-computed * 2;

    h1{
        font-weight: 500;
    }
}

