.home-hero-section{
    background-image: asset-url("facets-tile.png");
    background-size: 200%;
    height: 666px;
}

.color-section.callout{
    background-color: #efefef;
}

.home-page{
    .header{
        position: relative;
    }

    .j-promo{
        .wrapper{
            border-top: none;
            border-bottom: 1px solid shade($body-bg, 8.5%);
        }
    }

    .j-promo:last-child{
        .wrapper{
            border-top: none;
            border-bottom: none;
        }
    }

    @media (max-width: $screen-xs-max){
        .j-promo{
            background-color: $body-bg;
            padding: $line-height-computed ($grid-gutter-width/2);
            .image{
                display: none;
            }
            .wrapper{
                border: none;
            }
        }
    }

}