.home-hero-section{
    //background-image: asset-url("facets-tile.png");
    background-size: 200%;
    ///height: 666px;
    margin-bottom: $line-height-computed;
}

#addressSearch{
    width: 200px;

    @media (max-width: $screen-xs-max){
        width: 100%;
    }
}



.home-page{

    .color-section.callout{
        min-height: 441px;
    }

    .color-bg{
        background-color: rgb(18,94,171);
        //background-color: rgba(18,94,171,.8);
        background-color: rgba(7,73,130,.8);
        color: white;
        margin-top: $line-height-computed * 2;
        margin-bottom: $line-height-computed * 2;
        padding-top: $line-height-computed * 2;
        padding-bottom: $line-height-computed * 2;

    }

    .home-pawn{
        max-height: 231px;
        max-width: 231px;
        margin-bottom: $line-height-computed;
    }

    .header{
        position: relative;
        background-image: asset-url("facets-tile.png");
    }

    .j-promo{
        .wrapper{
            border-top: none;
            border-bottom: 1px solid shade($body-bg, 8.5%);
        }
    }

    .j-promo:last-child{
        .wrapper{
            border-top: none;
            border-bottom: none;
        }
    }

    .circle{
        background-color: white;
        border-radius: 50px;
        color: $primary-ca;
        font-size: $font-size-h2;
        height: 100px;
        line-height: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $line-height-computed;
        text-align: center;
        width: 100px;
    }

    @media (max-width: $screen-xs-max){
        .j-promo{
            background-color: $body-bg;
            padding: $line-height-computed ($grid-gutter-width/2);
            .image{
                display: none;
            }
            .wrapper{
                //border: none;
            }
        }

        .hero-call-to-action button{
            width: 100%;
        }
    }

}