.promos{
    overflow: hidden;
    .promos-image-wrapper{
        overflow: hidden;
    }

    .sidebar-link{
        display: none;
    }

    @media (max-width: $screen-xs-max){
        background-color: $sidebar-gray;
        padding: $line-height-computed ($grid-gutter-width/2);
    }
}


.side-bar{
    .promos{
        //background-color: blue;

        .promos-image-wrapper{
            display: none;
        }

        .col-sm-8.sidebar-12{
            width: 100%;
        }

        .btn{
            display: none;
        }

        .sidebar-link{
            display: inline;
        }
    }
}


.promos-light{
    overflow: hidden;
    padding-left: ($grid-gutter-width/2);
    .sidebar-link{
        display: none;
    }
    .target{
        overflow: hidden;
        border-left: ($grid-gutter-width/2) solid $primary-ca;
        background-color: $sidebar-gray;
        padding: $line-height-computed ($grid-gutter-width/2);
    }


    @media (max-width: $screen-xs-max){
        background-color: $sidebar-gray;
        padding: $line-height-computed ($grid-gutter-width/2);
        .target{
            border: none;
        }
    }
}


.side-bar{
    .promos-light{
        padding-left: 0;
        .target{
            border: none;
            padding: init;
        }

        .btn{
            display: none;
        }

        .sidebar-link{
            display: inline;
        }
    }
}

.heavy-promos{
    overflow: hidden;
    background-color: $sidebar-gray;
    .promos-image-wrapper{
        overflow: hidden;
    }

    .sidebar-link{
        display: none;
    }

    @media (max-width: $screen-xs-max){
        background-color: $sidebar-gray;
        padding: $line-height-computed ($grid-gutter-width/2);
    }
}


.side-bar{
    .heavy-promos{

        background-color: $sidebar-gray;
        .promos-image-wrapper{
            display: none;
        }

        .col-sm-8.sidebar-12{
            width: 100%;
        }

        .btn{
            display: none;
        }

        .sidebar-link{
            display: inline;
        }
    }
}

.j-promo{

    overflow: hidden;
    padding-left: ($grid-gutter-width/2);

    .image{
        img.center{
            margin: auto;
        }
    }

    .sidebar-link{
        display: none;
    }

    .wrapper{
        border-top: 1px solid shade($body-bg, 8.5%);
        border-bottom: 1px solid shade($body-bg, 8.5%);
        overflow: hidden;
        padding: $line-height-computed ($grid-gutter-width/2);
    }


    @media (max-width: $screen-xs-max){
        background-color: $sidebar-gray;
        padding: $line-height-computed ($grid-gutter-width/2);
        .image{
            display: none;
        }
        .wrapper{
            border: none;
        }
    }
}


.side-bar{
    .j-promo{
        padding-left: 0;
        .wrapper{
            border: none;
            padding: init;
        }
        
        .text{
            width: 100%;
        }

        .image{
            display: none;
        }

        .btn{
            display: none;
        }

        .sidebar-link{
            display: inline;
        }
    }
}

