// Colors
// --------------------------------------------------
$black:             #111111;
$white:             #fefefe;
$body-bg:           #fafafa;
$body-text:         #252525;
$light-link-color:  $white;
$light-link-hover:  #ccc;

$dark-link-color:   #005daa;
$dark-link-hover:   #005daa;

$primary-ca:        #005daa;
$secondary-ca:      #D0103A;

$footer-bg-ca:      #121D28;
$footer-text-ca:    #969696;

// Typography
// --------------------------------------------------

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          14px;
$font-size-large:         $font-size-base * 1.167; // ~16.338px
$font-size-small:         $font-size-base * 0.857; // ~12px

$standard-interval:       7px;
//$line-height-base:        1.428571429; // 20/14
$line-height-base:        1.5; // 21/14
$line-height-computed:    $font-size-base * $line-height-base; // ~21px

$font-size-h1:            44px;
$line-height-h1:          $font-size-h1 * 1.41; // ~62px
$font-size-h2:            24px;
$line-height-h2:          $font-size-h2 * 1.167; // ~28px
$font-size-h3:            18px;
$line-height-h3:          $font-size-h3 * 1.167; // ~21px
$font-size-h4:            $font-size-base;         //14px
$line-height-h4:          $font-size-h4 * $line-height-base;         //14px
$font-size-h5:            $font-size-base * 0.857; // ~12px
$font-size-h6:            $font-size-base * 0.857; // ~12px
$line-height-small:       $font-size-base;



$headings-font-family:    Futura, "Trebuchet MS", Arial, sans-serif;
$headings-font-weight:    500;
$headings-line-height:    1.4;
$headings-color:          inherit;


// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

// Components
// -------------------------
// Based on 14px font-size and 1.428 line-height (~20px to start)

$padding-base-vertical:          6px !default;
$padding-base-horizontal:        12px !default;

$padding-large-vertical:         10px !default;
$padding-large-horizontal:       16px !default;

$padding-small-vertical:         5px !default;
$padding-small-horizontal:       10px !default;

$line-height-large:              1.33 !default;
$line-height-small:              1.5 !default;

$border-radius-base:             3px !default;
$border-radius-large:            4px !default;
$border-radius-small:            2px !default;

$component-active-color:         #fff !default;

$caret-width-base:               4px !default;
$caret-width-large:              5px !default;