@import "../resources/custom_settings";
@import "compass";
@import "compass/layout/sticky-footer";

/* ========================== */
/* sticky footer */
/* ========================== */

@include sticky-footer(280px, ".ca-root", ".ca-root-footer", ".footer");


@media (max-width: $screen-md-min) {
    @include sticky-footer(500px, ".ca-root", ".ca-root-footer", ".footer");
}

/* ========================== */
/* page level layout elements */
/* ========================== */

.main-body{
    padding-bottom: $line-height-computed;
}

.side-bar{
    @include border-radius($border-radius-base);
    @media (max-width: $screen-sm-min) {
        margin-top: 0;
    }
    margin-top: -98px;
    min-height: 500px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        font-size: $font-size-h3;
        line-height: $line-height-h3;
        margin-bottom: $line-height-computed / 3;
    }

    .side-bar-inner{
        padding-top: ($line-height-computed / 3) * 2;
    }

    .ca-module{
        margin-bottom: $line-height-computed;
    }

    hr:last-child{
        display: none;
    }
    
    margin-bottom: $line-height-computed;


}

